fastapi==0.119.0
uvicorn==0.38.0
requests==2.32.3
python-dotenv==not-installed
pydantic==2.9.2
datasets==4.8.4
evaluate==not-installed
scikit-learn==1.7.2
scipy==1.15.2
numpy==1.26.4
pandas==2.2.3
psutil==7.0.0
torch==2.9.0
transformers==4.52.4
unsloth==not-installed
trl==not-installed
peft==not-installed
matplotlib==3.10.7
seaborn==0.13.2
